[submodule "pack/bundles/start/vim-scimark"]
	path = pack/bundles/start/vim-scimark
	url = https://github.com/mipmip/vim-scimark.git
[submodule "bundle/vim-log-highlighting"]
	path = pack/bundles/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
