[submodule "pack/bundles/start/nvim-treesitter"]
	path = pack/bundles/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/bundles/start/vim-scimark"]
	path = pack/bundles/start/vim-scimark
	url = https://github.com/mipmip/vim-scimark.git
[submodule "pack/bundles/start/tabline.vim"]
	path = pack/bundles/start/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "bundle/tasklist"]
	path = pack/bundles/start/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
	branch = master
	ignore = all
[submodule "pack/bundles/start/tree-sitter-just"]
	path = pack/bundles/start/tree-sitter-just
	url = https://github.com/IndianBoy42/tree-sitter-just.git
[submodule "pack/bundles/start/tree-sitter-cmake"]
	path = pack/bundles/start/tree-sitter-cmake
	url = https://github.com/uyha/tree-sitter-cmake.git
[submodule "bundle/vim-log-highlighting"]
	path = pack/bundles/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
