[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[init]
        templatedir = DOTFILES_ROOT/git/hooks
[include]
	path = C:/tools/git/etc/gitconfig
	path = DOTFILES_ROOT/git/gitconfig.symlink
[core]
    excludesfile = DOTFILES_ROOT/git/gitignore.symlink
