[Desktop Entry]
Type=Application
Name=XMonad
Exec=/home/ANT.AMAZON.COM/hojin/.nix-profile/bin/xmonad
NoDisplay=true
X-GNOME-WMName=XMonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
